### Compiled class file ###
*.class

### Log file ###
*.log

### Target ###
target/

### Out ###
out/

### Package Files ###
*.jar
*.war
*.zip
*.tar
*.tar
*.tar.gz
*.rar

### Eclipse ###
.settings/
.project
.classpath

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### SVN ###
.svn/

### Spring Init ###
.mvn/*

### Virtual Machine ###
hs_err_pid*
*.hprof

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### webpack ###
node_modules