<!--  @auther panqt 2019/03/20 3:29  -->
<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script th:src="@{/js/jquery1.8.3.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/common.css}"></link>
    <title>template</title>
</head>
<body>

<div class="background">

    <div class="header">
        <div class="title img"><a th:href="@{/welcome}"><img th:src="@{/img/logo.jpg}"/></a> </div>
        <div class="title text">标题</div>
        <div class="description">描述</div>
        <div class="description">描述</div>

        <div class="login-info">描述</div>
        <div class="login-info">描述</div>
    </div>
    <hr>

    <div class="box">
        <div class="unit">
            <div class="text">标题</div>
            <input type="button" value="button"/>
            <input type="button" value="button"/>
        </div>
        <div class="content">内容</div>
    </div>

    <div class="box">
        <div class="unit">
            <div class="text">标题</div>
            <input type="button" value="button"/>
            <input type="button" value="button"/>
        </div>
        <div class="content">内容</div>
    </div>

    <div class="box">
        <div class="unit">
            <div class="text">标题</div>
            <input type="button" value="button"/>
            <input type="button" value="button"/>
        </div>
        <div class="content">内容</div>
    </div>

    <div class="box">
        <div class="unit">
            <div class="text">标题</div>
            <input type="button" value="button"/>
            <input type="button" value="button"/>
        </div>
        <div class="content">内容</div>
    </div>
</div>

</body>
</html>