<!--
 ~  time:   2019年03月18日	9:26
 ~  author: panqt
 ~
 ~  comment:
 -->
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Welcome</title>
</head>
<body>
<h1>Welcome</h1>
<ul>
    <li>
        <a href="/template">template</a>
    </li>
    <li>
        <a href="/modules/fastdfs">FastDFS</a>
    </li>
    <li>
        <a href="/modules/mail">mail</a>
    </li>
    <li>
        <a href="/modules/redis">redis</a>
    </li>
    <li>
        <a href="/modules/elasticsearch">elasticsearch</a>
    </li>
    <li>
        <a href="/modules/rabbitmq">rabbitmq</a>
    </li>
    <li>
        <a href="/modules/ajax">ajax</a>
    </li>


    <br>
    <li>
        <a href="/login">login</a>
    </li>
    <li>
        <a href="/logout">logout</a>
    </li>
</ul>
</body>
</html>