<!--
 ~  time:   2019年03月18日	9:26
 ~  author: panqt
 ~
 ~  comment:
 -->
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/js/jquery1.8.3.js"></script>
    <script src="/js/ajax.js"></script>
    <title>Title</title>
</head>
<body>
<h1>Welcome</h1>
<ul>
    <li>
        <a href="template">template</a>
    </li>
    <li>
        <a href="modules/fastdfs">FastDFS</a>
    </li>
    <li>
        <a href="modules/mail">mail</a>
    </li>
    <li>
        <a href="modules/redis">redis</a>
    </li>
    <li>
    <a href="modules/elasticsearch">elasticsearch</a>
</li>
    <li>
        <a href="modules/rabbitmq">rabbitmq</a>
    </li>
</ul>
</body>
</html>