<!--
 ~  time:   2019年03月18日	9:26
 ~  author: panqt
 ~
 ~  comment:
 -->
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Welcome</title>
</head>
<body>
<h1>Welcome</h1>
<ul>
    <li>
        <a th:href="@{/modules/template}">template</a>
    </li>
    <li>
        <a th:href="@{/modules/fastdfs}">FastDFS</a>
    </li>
    <li>
        <a th:href="@{/modules/mail}">mail</a>
    </li>
    <li>
        <a th:href="@{/modules/redis}">redis</a>
    </li>
    <li>
        <a th:href="@{/modules/elasticsearch}">elasticsearch</a>
    </li>
    <li>
        <a th:href="@{/modules/rabbitmq}">rabbitmq</a>
    </li>
    <li>
        <a th:href="@{/modules/ajax}">ajax</a>
    </li>


    <br>
    <li>
        <a th:href="@{/modules/login}">login</a>
    </li>
    <li>
        <a th:href="@{/logout}">logout</a>
    </li>
</ul>
</body>
</html>