<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.panqt.springboot.mybatis.DepartmentMapper">
    <resultMap id="departmentResultMap" type="pers.panqt.springboot.entry.Department" >
        <id column="department_id" property="departmentId" jdbcType="INTEGER" />
        <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="table_name">
		department
	</sql>

    <sql id="Column_List" >
      department_id,department_name
    </sql>

    <sql id="select_conditon">
        where 1 = 1
        <if test="departmentId != null  and departmentId != ''"> AND department_id = #{departmentId, jdbcType=INTEGER} </if>
        <if test="departmentName != null  and departmentName != ''"> AND department_name = #{departmentName, jdbcType=VARCHAR}</if>
    </sql>

    <select id="selectById" resultMap="departmentResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Column_List" />
        FROM
        <include refid="table_name" />
        WHERE department_id = #{departmentId}
    </select>

    <select id="selectList" resultMap="departmentResultMap" parameterType="pers.panqt.springboot.entry.Department">
        SELECT
        <include refid="Column_List" />
        FROM
        <include refid="table_name" />
        <include refid="select_conditon" />
    </select>

    <insert id="insert" parameterType="pers.panqt.springboot.entry.Department">
        INSERT INTO <include refid="table_name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="departmentId != null  and departmentId != ''">department_id,</if>
            <if test="departmentName != null  and departmentName != ''">department_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="departmentId != null  and departmentId != ''"> #{departmentId, jdbcType=INTEGER},</if>
            <if test="departmentName != null  and departmentName != ''"> #{departmentName, jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <update id="update" parameterType="pers.panqt.springboot.entry.Department">
        update <include refid="table_name"/>
        set
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="departmentId != null  and departmentId != ''">department_id = #{departmentId, jdbcType=VARCHAR},</if>
            <if test="departmentName != null  and departmentName != ''">department_name = #{departmentName, jdbcType=INTEGER},</if>
        </trim>
        where department_id = #{departmentId, jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from <include refid="table_name"/> where department_id = #{departmentId, jdbcType=INTEGER}
    </delete>
</mapper>