<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.panqt.springboot.mybatis.RoleMapper">
    <resultMap id="RoleResultMap" type="pers.panqt.springboot.entry.Role" >
        <id column="role_id" property="roleId" jdbcType="INTEGER" />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="table_name">
		Role
	</sql>

    <sql id="Column_List" >
      role_id,role_name
    </sql>

    <sql id="select_conditon">
        where 1 = 1
        <if test="roleId != null  and roleId != ''"> AND role_id = #{roleId, jdbcType=INTEGER} </if>
        <if test="roleName != null  and roleName != ''"> AND role_name = #{roleName, jdbcType=VARCHAR}</if>
    </sql>

    <select id="selectById" resultMap="RoleResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Column_List" />
        FROM
        <include refid="table_name" />
        WHERE role_id = #{roleId}
    </select>

    <select id="selectList" resultMap="RoleResultMap" parameterType="pers.panqt.springboot.entry.Role">
        SELECT
        <include refid="Column_List" />
        FROM
        <include refid="table_name" />
        <include refid="select_conditon" />
    </select>

    <insert id="insert" parameterType="pers.panqt.springboot.entry.Role">
        INSERT INTO <include refid="table_name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null  and roleId != ''">role_id,</if>
            <if test="roleName != null  and roleName != ''">role_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null  and roleId != ''"> #{roleId, jdbcType=INTEGER},</if>
            <if test="roleName != null  and roleName != ''"> #{roleName, jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <update id="update" parameterType="pers.panqt.springboot.entry.Role">
        update <include refid="table_name"/>
        set
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="roleId != null  and roleId != ''">role_id = #{roleId, jdbcType=VARCHAR},</if>
            <if test="roleName != null  and roleName != ''">role_name = #{roleName, jdbcType=INTEGER},</if>
        </trim>
        where role_id = #{roleId, jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from <include refid="table_name"/> where role_id = #{roleId, jdbcType=INTEGER}
    </delete>
</mapper>